:root {
    --blue: #3054BF;
    --lightblue: #2949A6;
    --darkgreen:#238C79;
    --green: #21BF65;
    --lightgreen: #23D962; 
}

form h5 {
    margin-left: 20em;
}

.form-group {
    margin-left: 24em;
}

.mb-3 {
    color: whitesmoke;
}

.hide {
    display: none;
}

.show {
    display: block;
}