*{
    font-family: 'Noto Sans', sans-serif;
}

:root {
    --blue: #3054BF;
    --lightblue: #60daff;
    --darkgreen:#238C79;
    --green: #21BF65;
    --lightgreen: #23D962; 
}

.jumbo-head {
 border-radius:10px;
  background: url(../images/background_image_movie.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 75% 75%;
  color: white !important;
  height: 340px;
  margin:15px 30px 0px 30px;
  box-shadow: 1px 1px 12px 3px black;
}

.display-2,
.lead {
    font-weight: 500;
}

.form-group {
    margin: 0 auto 0 auto;
} */

.mb-3 {
    color: whitesmoke;
}

.hide {
    display: none;
}

.gabe-movie {
    width: 100%;
    height: 100%;
}

.w3-container {
    display: inline-block;
    white-space: normal;
}


.col {
    border: 2px solid black;
    padding:0px;
}

.card-img-top{
    border-bottom: black 2px solid;
}

.card {
    margin-left: 10px;
    border: 2px solid black;
}

.card-wrap {
    display: flex;
    flex-wrap: wrap;
}

.alert-dark {
    margin-top: 20px;
    text-align: center;
    border: var(--blue) 2px solid;
    background-color: var(--lightblue);
}

.card-img, .card-img-top {
    height: 26em;
}

.history-item {
    margin: 5px auto 5px auto;
    width: 39%;
}

.movie-cards {
    display: flex;
    flex-wrap: wrap;
}

.m-card {
    margin-bottom: 5px;
}

.music-wrap {
    margin: 0 auto 0 auto;
    justify-content: center;
}

@media only screen and (max-width: 1312px){
    .movie-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 10px;
    }
}

@media only screen and (max-width: 980px){
    .movie-cards {
        display: block;
        margin: 0 21%;
    }

    .card-wrap {
        display: block;
        margin: 0 auto 0 auto;
    }

    .m-card{
        margin: 0 auto 5px auto;
    }
    .title{
        font-size: 64px;
    }
}

@media only screen and (max-width: 440px) {
    .col-5 {
        max-width: 90%;
    }

    .movie-cards {
        width: 82%;
        margin: 0 10%;
    }

    .display-2 {
        font-size: 3.5rem;
    }

    .history-item {
        width: 85%;
    }
}