:root {
    --blue: #3054BF;
    --lightblue: #2949A6;
    --darkgreen:#238C79;
    --green: #21BF65;
    --lightgreen: #23D962; 
}

form h5 {
    margin-left: 20em;
}

.form-group {
    margin-left: 24em;
}

.mb-3 {
    color: whitesmoke;
}

.hide {
    display: none;
}

.gabe-movie {
    width: 100%;
    height: 100%;
}

.w3-container {
    display: inline-block;
    white-space: normal;
}

.col {
    border: 2px solid black;
    padding:0px;
}

.card {
    margin-left: 10px;
    border: 2px solid black;
}

.card-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-left: 71px;
}

.alert-dark {
    margin-top: 20px;
    text-align: center;
}

.card-img, .card-img-top {
    height: 26em;
}

.movie-cards {
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width: 440px) {
    form h5 {
        margin-left: 2.3em;
    }
    .form-group {
        margin-left: 2em;
        width: 88%;
    }
    .col-5 {
        max-width: 88%;
    }
}