:root {
    --blue: #3054BF;
    --lightblue: #2949A6;
    --darkgreen:#238C79;
    --green: #21BF65;
    --lightgreen: #23D962; 
}

.jumbo-head {
 border-radius:10px;
  background: url(../images/background_image_movie.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 75% 75%;
  color: white !important;
  height: 340px;
  margin:15px 30px 0px 30px;
  box-shadow: 1px 1px 12px 3px black;
}

.display-2,
.lead {
    font-weight: 500;
}

.form-group {
    margin: 0 auto 0 auto;
} */

.mb-3 {
    color: whitesmoke;
}

.hide {
    display: none;
}

.gabe-movie {
    width: 100%;
    height: 100%;
}

.w3-container {
    display: inline-block;
    white-space: normal;
}


.col {
    border: 2px solid black;
    padding:0px;
}

.card {
    margin-left: 10px;
    border: 2px solid black;
}

.card-wrap {
    display: flex;
    flex-wrap: wrap;
}

.alert-dark {
    margin-top: 20px;
    text-align: center;
}

.card-img, .card-img-top {
    height: 26em;
}

.list-group-item {
    margin: 5px auto 5px auto;
    width: 39%;
}

.movie-cards {
    display: flex;
    flex-wrap: wrap;
}